## Charts

In [1]:
import math
import bokeh.plotting
import numpy as np


e = math.exp(1)
x = np.arange(1, 200)
y = (1 + 1/x) ** x

chart = bokeh.plotting.figure(title="Euler's Number", sizing_mode="stretch_width")
chart.line(x, y, line_width=2, color="blue")
chart.line(x, e, line_width=2, color="red")
chart.xaxis.axis_label = "x"
chart.yaxis.axis_label = "y"

bokeh.plotting.show(chart)

In [2]:
type(chart)

bokeh.plotting.figure.Figure

## Price chart

In [4]:
from datetime import datetime
import pandas as pd
import pandas_datareader.data as web


def get_pricing_data(
    ticker: str,
    start: datetime.date,
    end: datetime.date
) -> pd.DataFrame:
    """ Returns a pandas dataframe of prices. """
    return web.DataReader(ticker, "yahoo", start, end)

In [5]:
start = datetime(2010, 1, 1).date()
end = datetime.now().date()
df = web.DataReader("MSFT", "yahoo", start, end)

In [6]:
df.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.858992
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.234720

In [7]:
import numpy as np

returns = np.log(df["Adj Close"] / df["Adj Close"].shift(1))
returns[:5]

Date
2009-12-31         NaN
2010-01-04    0.015302
2010-01-05    0.000323
2010-01-06   -0.006156
2010-01-07   -0.010454
Name: Adj Close, dtype: float64

In [8]:
import math

math.log(24.226894 / 23.858992)

0.015302169075362766

In [9]:
df["Returns"] = returns

In [10]:
df.head(3)

,High,Low,Open,Close,Volume,Adj Close,Returns
Date,,,,,,,
2009-12-31,30.99,30.480000,30.980000,30.480000,31929700.0,23.858992,NaN
2010-01-04,31.10,30.590000,30.620001,30.950001,38409100.0,24.226894,0.015302
2010-01-05,31.10,30.639999,30.850000,30.959999,49749600.0,24.234720,0.000323

In [11]:
returns[1:3]

Date
2010-01-04    0.015302
2010-01-05    0.000323
Name: Adj Close, dtype: float64

In [12]:
#  https://docs.bokeh.org/en/latest/docs/gallery/histogram.html?highlight=histogram
import numpy as np
from bokeh.plotting import figure, show


def make_plot(title, hist, edges, x, pdf):
    p = figure(title=title, tools="", background_fill_color="#fafafa")
    p.quad(top=hist, bottom=0, left=edges[:-1], right=edges[1:],
           fill_color="navy", line_color="white", alpha=0.5)
    p.line(x, pdf, line_color="#ff8888", line_width=4, alpha=0.7, legend_label="PDF")
    p.y_range.start = 0
    p.legend.location = "center_right"
    p.legend.background_fill_color = "#fefefe"
    p.xaxis.axis_label = "x"
    p.yaxis.axis_label = "Pr(x)"
    p.grid.grid_line_color="white"
    return p


nona_returns = returns[~np.isnan(returns)]
hist, edges = np.histogram(nona_returns[1:], density=True, bins=50)
mu = np.mean(nona_returns)
sigma = np.std(nona_returns)
x = np.linspace(-0.05, 0.05, 1000)
pdf = 1/(sigma * np.sqrt(2*np.pi)) * np.exp(-(x-mu)**2 / (2*sigma**2))

title = "Returns Distribution (μ=%0.2f%%, σ=%0.2f%%)" % (round(mu * 100, 2), round(sigma * 100, 2))
p = make_plot(title, hist, edges, x, pdf)

In [20]:
show(p)

In [17]:
d = returns.describe()
d

count    2629.000000
mean        0.000785
std         0.015831
min        -0.159453
25%        -0.006768
50%         0.000680
75%         0.008435
max         0.132929
Name: Adj Close, dtype: float64

In [18]:
type(d)

pandas.core.series.Series