## Charts

In [1]:
import math
import bokeh.plotting
import numpy as np


e = math.exp(1)
x = np.arange(1, 200)
y = (1 + 1/x) ** x

chart = bokeh.plotting.figure(title="Euler's Number", sizing_mode="stretch_width")
chart.line(x, y, line_width=2, color="blue")
chart.line(x, e, line_width=2, color="red")
chart.xaxis.axis_label = "x"
chart.yaxis.axis_label = "y"

bokeh.plotting.show(chart)

In [2]:
type(chart)

bokeh.plotting.figure.Figure

## Price chart

In [9]:
from datetime import datetime
import pandas as pd
import pandas_datareader.data as web


def get_pricing_data(
    ticker: str,
    start: datetime.date,
    end: datetime.date
) -> pd.DataFrame:
    """ Returns a pandas dataframe of prices. """
    return web.DataReader(ticker, "yahoo", start, end)

In [6]:
start = datetime(2010, 1, 1).date()
end = datetime.now().date()
df = web.DataReader("MSFT", "yahoo", start, end)

In [7]:
df.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  23.858992
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.234720